.body {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  background-image: linear-gradient(60deg, rgb(82, 116, 168),rgb(144, 144, 172),rgb(199, 157, 199));
  border-radius: 6px;
  text-align: center;
  margin: 50px 50px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
 
}

.header {
  display: inline-block;
  margin-right: 5px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}
.input{
  display: inline-block;
  margin:auto;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 2px;
  background-color: rgb(184 207 227);
}
.button{
  display: inline-block;
  height: 40px;
  width: 150px;
  margin-left: 10px;
  border-radius: 5px;
}
.App {
  text-align: center;
}



.App-header {
  background-image: linear-gradient(45deg, rgb(93, 233, 13), rgb(0, 255, 234),rgb(152, 111, 168));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


